@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.cdnfonts.com/css/circular-std");
@import url("https://fonts.cdnfonts.com/css/autografia-personal-use-only");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply p-0 m-0 h-full font-avenir;
  }
}
.root {
  @apply h-full;
}
*:not(h1, h2, h3) {
  font-family: "Avenir", Helvetica, sans-serif;
}

input {
  @apply font-avenir;
}

/* Table Column Headers */
.ant-table-thead > tr > th {
  overflow-wrap: normal !important;
  color: #42526d !important;
}

.ant-table-content {
  scrollbar-width: thin;
  scrollbar-color: unset;
}

/* Ant input font-size */
.ant-select-selection-search > input {
  @apply !text-neutral400 !text-base md:!text-sm;
}
.ant-picker-input > input {
  @apply !text-neutral400 !text-base md:!text-sm;
}
